In [105]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df
import datetime as dt
from datetime import timedelta
import json
import os
import csv
import matplotlib.pyplot as plt

import itertools

In [139]:
localdir=os.getcwd()
localdir

'C:\\Users\\vchiluveru\\Downloads\\VB\\KL\\GRA\\Agents'

In [140]:
folder_list=[folder for folder in os.listdir(localdir) if 'Agents_' in folder]
print(len(folder_list), os.listdir(folder_list[0]))

24 ['2024-09-05-9.log', '2024-09-05-9.log.gz', 'Agents_A10.json']

In [141]:
player_names_list = ['Alan', 'Kalyani', 'Lamar', 'Sarah', 'Sokka']

In [142]:
# player_profession_dict = {}

# for ent in data_load['participants']:
#     player_profession_dict[ent['name']] = ent['profession'] 
# player_profession_dict

In [143]:
start_time_dict = {'Agents_A10': dt.datetime(2024,9,5,22,33,3),
                   'Agents_A3': dt.datetime(2024,9,4,19,17,57),
                   'Agents_A4': dt.datetime(2024,9,4,21,35,54),
                   'Agents_A5': dt.datetime(2024,9,12,22,46,17),
                   'Agents_A6': dt.datetime(2024,9,5,0,8,2),
                   'Agents_A7': dt.datetime(2024,9,5,1,15,33),
                   'Agents_A8': dt.datetime(2024,9,5,2,18,46),
                   'Agents_A9': dt.datetime(2024,9,5,17,28,40),
                   'Agents_B10': dt.datetime(2024,9,3,23,1,24),
                   'Agents_B3': dt.datetime(2024,8,30,1,12,39),
                   'Agents_B4': dt.datetime(2024,9,3,15,16,34),
                   'Agents_B5': dt.datetime(2024,9,3,16,41,12),
                   'Agents_B6': dt.datetime(2024,9,3,17,40,8),
                   'Agents_B7': dt.datetime(2024,9,3,18,49,26),
                   'Agents_B8': dt.datetime(2024,9,3,19,43,42),
                   'Agents_B9': dt.datetime(2024,9,3,21,49,36),
                   'Agents_C1': dt.datetime(2024,9,6,17,17,55),
                   'Agents_C2': dt.datetime(2024,9,6,20,41,58),
                   'Agents_C3': dt.datetime(2024,9,7,13,40,56),
                   'Agents_C4': dt.datetime(2024,9,8,0,13,54),
                   'Agents_C5': dt.datetime(2024,9,8,1,11,46),
                   'Agents_C6': dt.datetime(2024,9,8,3,55,58),
                   'Agents_C7': dt.datetime(2024,9,8,12,28,48),
                   'Agents_C8': dt.datetime(2024,9,8,14,9,2)
                  }

In [144]:
# game_start_phrase = 'Boss Bar Successfully Begun!'

# log_files_list = {}
# for folder in folder_list:
#     log_files_list[folder] = [item for item in os.listdir(folder) if '.log' in item and '.gz' not in item][0]
# print(log_files_list)

# for filename in log_files_list:
#     print(filename, log_files_list[filename])
#     chatfile=open(os.path.join(localdir,folder,log_files_list[filename]))
#     lines=chatfile.readlines()
#     chatfile.close()
#     start_line = [line for line in lines if game_start_phrase in line][0]
#     print(start_line)
#     print('#########')

In [145]:
ACCEPTED = 'ACCEPTED'
DECLINED = 'DECLINED'
CANCELLED = 'CANCELLED'

game_trades_df_dict = {}
game_final_df_dict = {}
game_list = []
gametype_list = []
winner_list = []
score_list = []

player_profession_dict = {}

for folder in folder_list:
    print(folder)
    score_file=[item for item in os.listdir(folder) if '.json' in item][0]
    print(score_file)
    data=open(os.path.join(localdir,folder,score_file), encoding='utf8')
    data_load=json.load(data)
    player_profession_dict[folder] = {}
    for ent in data_load['participants']:
        player_profession_dict[folder][ent['name']] = ent['profession'] 
    trades_df=df.from_records(data_load["trades"])
    for ind in trades_df.index:
        trades_df.loc[ind,"beginTimestamp"]=pd.Timestamp(trades_df.loc[ind,"beginTimestamp"])
        trades_df.loc[ind,"endTimestamp"]=pd.Timestamp(trades_df.loc[ind,"endTimestamp"])
    print(trades_df.shape, folder)
    trades_df = trades_df[(trades_df['status']==ACCEPTED)]
    print(trades_df.shape, folder)
    game_trades_df_dict[folder] = trades_df
    # final_df=df.from_records(data_load['participants'])
    # game_final_df_dict[folder] = final_df
    # winner_list.append(data_load['winner'])
    # game_list.append(folder.split('_')[1])
    # if 'A' in folder.split('_')[1]:
        # gametype_list.append('Competitive')
    # elif 'B' in folder.split('_')[1]:
        # gametype_list.append('Baseline')
    # else:
        # gametype_list.append('Cooperative')
    # score_list.append(data_load['score'])

# winner_df = df({'game':game_list, 'gametype':gametype_list, 'winner':winner_list,'score':score_list})
professions_set = set([player_profession_dict[folder][player] for folder in player_profession_dict for player in player_profession_dict[folder]])

Agents_A10
Agents_A10.json
(54, 14) Agents_A10
(26, 14) Agents_A10
Agents_A3
Agents_A3.json
(36, 14) Agents_A3
(19, 14) Agents_A3
Agents_A4
Agents_A4.json
(64, 14) Agents_A4
(34, 14) Agents_A4
Agents_A5
Agents_A5.json
(48, 14) Agents_A5
(30, 14) Agents_A5
Agents_A6
Agents_A6.json
(34, 14) Agents_A6
(16, 14) Agents_A6
Agents_A7
Agents_A7.json
(35, 14) Agents_A7
(24, 14) Agents_A7
Agents_A8
Agents_A8.json
(65, 14) Agents_A8
(39, 14) Agents_A8
Agents_A9
Agents_A9.json
(32, 14) Agents_A9
(21, 14) Agents_A9
Agents_B10
Agents_B10.json
(60, 14) Agents_B10
(41, 14) Agents_B10
Agents_B3
Agents_B3.json
(68, 14) Agents_B3
(21, 14) Agents_B3
Agents_B4
Agents_B4.json
(92, 14) Agents_B4
(20, 14) Agents_B4
Agents_B5
Agents_B5.json
(61, 14) Agents_B5
(33, 14) Agents_B5
Agents_B6
Agent_B6.json
(50, 14) Agents_B6
(25, 14) Agents_B6
Agents_B7
Agents_B7.json
(54, 14) Agents_B7
(34, 14) Agents_B7
Agents_B8
Agents_B8.json
(47, 14) Agents_B8
(25, 14) Agents_B8
Agents_B9
Agents_B9.json
(68, 14) Agents_B9
(25, 14) Agents_B9
Agents_C1
Agents_C1.json
(60, 14) Agents_C1
(29, 14) Agents_C1
Agents_C2
Agents_C2.json
(53, 14) Agents_C2
(31, 14) Agents_C2
Agents_C3
Agents_C3.json
(60, 14) Agents_C3
(31, 14) Agents_C3
Agents_C4
Agents_C4.json
(52, 14) Agents_C4
(29, 14) Agents_C4
Agents_C5
Agents_C5.json
(56, 14) Agents_C5
(32, 14) Agents_C5
Agents_C6
Agents_C6.json
(60, 14) Agents_C6
(26, 14) Agents_C6
Agents_C7
Agents_C7.json
(61, 14) Agents_C7
(26, 14) Agents_C7
Agents_C8
Agents_C8.json
(44, 14) Agents_C8
(20, 14) Agents_C8

In [146]:
for filename in game_trades_df_dict:
    trades_df = game_trades_df_dict[filename]
    print(filename)
    print(trades_df['beginTimestamp'].min())
    print(trades_df['beginTimestamp'].max())
    print(trades_df['beginTimestamp'].max() - trades_df['beginTimestamp'].min())
    print('#####################')

Agents_A10
2024-09-05 22:33:39.428000
2024-09-05 22:57:48.161000
0 days 00:24:08.733000
#####################
Agents_A3
2024-09-04 19:19:57.776000
2024-09-04 19:45:23.065000
0 days 00:25:25.289000
#####################
Agents_A4
2024-09-04 21:36:48.442000
2024-09-04 22:05:06.651000
0 days 00:28:18.209000
#####################
Agents_A5
2024-09-04 22:46:49.159000
2024-09-04 23:14:43.502000
0 days 00:27:54.343000
#####################
Agents_A6
2024-09-05 00:08:21.418000
2024-09-05 00:27:00.908000
0 days 00:18:39.490000
#####################
Agents_A7
2024-09-05 01:16:01.768000
2024-09-05 01:41:27.929000
0 days 00:25:26.161000
#####################
Agents_A8
2024-09-05 02:19:08.918000
2024-09-05 02:48:15.463000
0 days 00:29:06.545000
#####################
Agents_A9
2024-09-05 17:29:31.640000
2024-09-05 17:54:20.890000
0 days 00:24:49.250000
#####################
Agents_B10
2024-09-03 23:02:06.355000
2024-09-03 23:29:21.567000
0 days 00:27:15.212000
#####################
Agents_B3
2024-08-30 01:13:16.417000
2024-08-30 01:38:28.903000
0 days 00:25:12.486000
#####################
Agents_B4
2024-09-03 15:18:50.044000
2024-09-03 15:41:59.245000
0 days 00:23:09.201000
#####################
Agents_B5
2024-09-03 16:42:44.882000
2024-09-03 17:10:22.449000
0 days 00:27:37.567000
#####################
Agents_B6
2024-09-03 17:40:24.999000
2024-09-03 18:08:37.250000
0 days 00:28:12.251000
#####################
Agents_B7
2024-09-03 18:50:38.316000
2024-09-03 19:17:52.103000
0 days 00:27:13.787000
#####################
Agents_B8
2024-09-03 19:44:00.584000
2024-09-03 20:10:32.343000
0 days 00:26:31.759000
#####################
Agents_B9
2024-09-03 21:50:06.917000
2024-09-03 22:17:13.028000
0 days 00:27:06.111000
#####################
Agents_C1
2024-09-06 17:19:28.983000
2024-09-06 17:47:11.290000
0 days 00:27:42.307000
#####################
Agents_C2
2024-09-06 20:42:27.755000
2024-09-06 21:11:20.241000
0 days 00:28:52.486000
#####################
Agents_C3
2024-09-07 13:42:18.860000
2024-09-07 14:09:41.501000
0 days 00:27:22.641000
#####################
Agents_C4
2024-09-08 00:14:32.628000
2024-09-08 00:42:57.629000
0 days 00:28:25.001000
#####################
Agents_C5
2024-09-08 01:12:14.799000
2024-09-08 01:41:25.681000
0 days 00:29:10.882000
#####################
Agents_C6
2024-09-08 03:56:25.402000
2024-09-08 04:25:29.565000
0 days 00:29:04.163000
#####################
Agents_C7
2024-09-08 12:29:59.571000
2024-09-08 12:57:12.987000
0 days 00:27:13.416000
#####################
Agents_C8
2024-09-08 14:09:30.056000
2024-09-08 14:36:58.785000
0 days 00:27:28.729000
#####################

In [147]:
tierItemsValueFile=open('TierITemValues.txt', encoding='utf8')
tierItemsValuelines = tierItemsValueFile.readlines()
tierItemsValueFile.close()

item_names_list = []
item_tier_list = []
item_value_list = []
itemTierValue_dict = {}
profession_items_dict = {profession: [] for profession in professions_set}

for line in tierItemsValuelines:
    # print(line)
    if 'tier1' in line:
        item_name = line.split('ItemStack(Material.')[1].split('));')[0]
        item_name = item_name.lower()
        # item_names_list.append(item_name)
        # item_tier_list.append(1)
        # item_value_list.append(1)
        # print(line)
        profession_name = line.split('tier1')[1].split('.add(')[0]
        profession_items_dict[profession_name].append(item_name)
        if item_name not in itemTierValue_dict:
            itemTierValue_dict[item_name] = {'tier': 1, 'value':1}
    elif 'tier2' in line:
        item_name = line.split('ItemStack(Material.')[1].split('));')[0]
        item_name = item_name.lower()
        # item_names_list.append(item_name)
        # item_tier_list.append(2)
        # item_value_list.append(3)
        # print(line)
        profession_name = line.split('tier2')[1].split('.add(')[0]
        profession_items_dict[profession_name].append(item_name)
        if item_name not in itemTierValue_dict:
            itemTierValue_dict[item_name] = {'tier': 2, 'value':3}
    elif 'tier3' in line:
        item_name = line.split('ItemStack(Material.')[1].split('));')[0]
        item_name = item_name.lower()
        # item_names_list.append(item_name)
        # item_tier_list.append(3)
        # item_value_list.append(10)
        # print(line)
        profession_name = line.split('tier3')[1].split('.add(')[0]
        profession_items_dict[profession_name].append(item_name)
        if item_name not in itemTierValue_dict:
            itemTierValue_dict[item_name] = {'tier': 3, 'value':10}

# itemTierValue_df = df({'item_name':item_names_list, 'tier':item_tier_list, 'value':item_value_list})
print(itemTierValue_dict)
print(profession_items_dict)

{'potato': {'tier': 1, 'value': 1}, 'carrot': {'tier': 1, 'value': 1}, 'wheat': {'tier': 1, 'value': 1}, 'bread': {'tier': 2, 'value': 3}, 'pumpkin': {'tier': 2, 'value': 3}, 'mushroom_stew': {'tier': 3, 'value': 10}, 'cod': {'tier': 1, 'value': 1}, 'salmon': {'tier': 1, 'value': 1}, 'tropical_fish': {'tier': 1, 'value': 1}, 'pufferfish': {'tier': 2, 'value': 3}, 'turtle_egg': {'tier': 2, 'value': 3}, 'oak_boat': {'tier': 3, 'value': 10}, 'beef': {'tier': 1, 'value': 1}, 'chicken': {'tier': 1, 'value': 1}, 'porkchop': {'tier': 1, 'value': 1}, 'cooked_beef': {'tier': 2, 'value': 3}, 'cooked_porkchop': {'tier': 2, 'value': 3}, 'rabbit_stew': {'tier': 3, 'value': 10}, 'iron_ingot': {'tier': 1, 'value': 1}, 'gold_ingot': {'tier': 1, 'value': 1}, 'coal': {'tier': 1, 'value': 1}, 'fletching_table': {'tier': 2, 'value': 3}, 'smithing_table': {'tier': 2, 'value': 3}, 'diamond_sword': {'tier': 3, 'value': 10}, 'leather': {'tier': 1, 'value': 1}, 'stick': {'tier': 1, 'value': 1}, 'lead': {'tier': 1, 'value': 1}, 'cow_spawn_egg': {'tier': 2, 'value': 3}, 'rabbit_hide': {'tier': 2, 'value': 3}, 'saddle': {'tier': 3, 'value': 10}, 'stone': {'tier': 1, 'value': 1}, 'quartz_block': {'tier': 1, 'value': 1}, 'glass': {'tier': 1, 'value': 1}, 'red_glazed_terracotta': {'tier': 2, 'value': 3}, 'blue_glazed_terracotta': {'tier': 2, 'value': 3}, 'stone_pickaxe': {'tier': 3, 'value': 10}, 'string': {'tier': 1, 'value': 1}, 'white_wool': {'tier': 1, 'value': 1}, 'blue_dye': {'tier': 1, 'value': 1}, 'sheep_spawn_egg': {'tier': 2, 'value': 3}, 'loom': {'tier': 2, 'value': 3}, 'shears': {'tier': 3, 'value': 10}, 'oak_log': {'tier': 1, 'value': 1}, 'spruce_log': {'tier': 1, 'value': 1}, 'birch_log': {'tier': 1, 'value': 1}, 'spruce_planks': {'tier': 2, 'value': 3}, 'oak_planks': {'tier': 2, 'value': 3}, 'diamond_axe': {'tier': 3, 'value': 10}}
{'Farmer': ['potato', 'carrot', 'wheat', 'bread', 'pumpkin', 'mushroom_stew'], 'Blacksmith': ['iron_ingot', 'gold_ingot', 'coal', 'fletching_table', 'smithing_table', 'diamond_sword'], 'Fisher': ['cod', 'salmon', 'tropical_fish', 'pufferfish', 'turtle_egg', 'oak_boat'], 'Leatherworker': ['leather', 'stick', 'lead', 'cow_spawn_egg', 'rabbit_hide', 'saddle'], 'Lumberjack': ['oak_log', 'spruce_log', 'birch_log', 'spruce_planks', 'oak_planks', 'diamond_axe'], 'Butcher': ['beef', 'chicken', 'porkchop', 'cooked_beef', 'cooked_porkchop', 'rabbit_stew'], 'Shepherd': ['string', 'white_wool', 'blue_dye', 'sheep_spawn_egg', 'loom', 'shears'], 'Mason': ['stone', 'quartz_block', 'glass', 'red_glazed_terracotta', 'blue_glazed_terracotta', 'stone_pickaxe']}

In [148]:
def get_trade_value(r):
    request_list = r['request']
    offer_list = r['offer']
    total_trade_value = 0
    for req in request_list:
        item_name = req['resource']
        item_num = req['amount']
        item_name = item_name.lower().replace(' ', '_')
        total_value = itemTierValue_dict[item_name]['value'] * item_num
        total_trade_value += total_value
    for req in offer_list:
        item_name = req['resource']
        item_num = req['amount']
        item_name = item_name.lower().replace(' ', '_')
        total_value = itemTierValue_dict[item_name]['value'] * item_num
        total_trade_value += total_value
    r['trade_value'] = total_trade_value
    r['game_name'] = filename.split('_')[1]
    if 'A' in filename.split('_')[1]:
        r['game_type'] = 'Competitive'
    elif 'B' in filename.split('_')[1]:
        r['game_type'] = 'Baseline'
    else:
        r['game_type'] = 'Cooperative'
    return r

In [149]:
for filename in game_trades_df_dict:
    print(filename)
    trades_df = game_trades_df_dict[filename]
    trades_df = trades_df.apply(get_trade_value, axis=1)
    game_trades_df_dict[filename] = trades_df

Agents_A10
Agents_A3
Agents_A4
Agents_A5
Agents_A6
Agents_A7
Agents_A8
Agents_A9
Agents_B10
Agents_B3
Agents_B4
Agents_B5
Agents_B6
Agents_B7
Agents_B8
Agents_B9
Agents_C1
Agents_C2
Agents_C3
Agents_C4
Agents_C5
Agents_C6
Agents_C7
Agents_C8

In [150]:
def get_request_non_useful_items(trades_df, player_names_list, player_profession_dict, profession_items_dict, filename):
    player_profession = {}
    player_useful_items = {}
    for player in player_names_list:
        player_profession[player] = player_profession_dict[filename][player]
        player_useful_items[player] = profession_items_dict[player_profession[player]]
    def row_wise_non_useful(row):
        p1 = row['requester']
        p2 = row['requested']

        request_list = row['request']
        request_items_list = [ent['resource'].lower().replace(' ', '_') for ent in request_list]
        request_non_useful_items_list = [item for item in request_items_list if item not in player_useful_items[p1]]
        offer_list = row['offer']
        offer_items_list = [ent['resource'].lower().replace(' ', '_') for ent in offer_list]
        offer_non_useful_items_list = [item for item in offer_items_list if item not in player_useful_items[p2]]
        row['requester_nonuseful'] = request_non_useful_items_list
        row['requested_nonuseful'] = offer_non_useful_items_list
        return row

    trades_df = trades_df.apply(row_wise_non_useful, axis=1)
    return trades_df

In [151]:
def assign_timewindow(r):
    time_delta = r['endTimestamp'] - start_time_dict[filename]
    diff_sec = time_delta.seconds
    if diff_sec <= 600.0:
        # BT
        r['time_window'] = 'BT'
    elif diff_sec <= 1200.0:
        # MT
        r['time_window'] = 'MT'
    else:
        r['time_window'] = 'ET'
    return r

In [156]:
len(list(itertools.combinations(player_names_list, 2)))

10

In [152]:
master_df = df(columns = ['game_name', 'game_type', 'player1', 'player2',
                          'BT_trades', 'BT_scoregain', 'MT_trades', 'MT_scoregain', 'ET_trades', 'ET_scoregain'])

for filename in game_trades_df_dict:
    print(filename)
    trades_df = game_trades_df_dict[filename]
    trades_df = trades_df.apply(assign_timewindow, axis=1)
    game_trades_df_dict[filename] = trades_df
    
    for ent in list(itertools.combinations(player_names_list, 2)):
#         print(ent[0], ent[1])
        x_df = trades_df[trades_df['requester'].isin(ent) & trades_df['requested'].isin(ent)]
        if x_df.shape[0] < 1:
            continue
        bt_df = x_df[x_df['time_window']=='BT']
        mt_df = x_df[x_df['time_window']=='MT']
        et_df = x_df[x_df['time_window']=='ET']
        bt_trades = bt_df.shape[0]
        bt_scoregain = bt_df['trade_value'].sum()
        mt_trades = mt_df.shape[0]
        mt_scoregain = mt_df['trade_value'].sum()
        et_trades = et_df.shape[0]
        et_scoregain = et_df['trade_value'].sum()
        dct = {'game_name': x_df['game_name'].iloc[0], 'game_type': x_df['game_type'].iloc[0],
               'player1': ent[0], 'player2': ent[1],
               'BT_trades': bt_trades, 'BT_scoregain': bt_scoregain,
               'MT_trades': mt_trades, 'MT_scoregain': mt_scoregain,
               'ET_trades': et_trades, 'ET_scoregain': et_scoregain}
        master_df = master_df._append(dct, ignore_index=True)

#     groupby_df = trades_df.groupby(
#         by=['game_name', 'game_type', 'requester', 'requested', 'time_window']).agg(
#         {'status':'count', 'trade_value': 'sum'})
#     groupby_df = groupby_df.reset_index()
#     print(groupby_df.shape)
#     master_df = pd.concat([master_df, groupby_df])
#     master_df = master_df.reset_index(drop=True)
    print(master_df.shape)

Agents_A10
(10, 10)
Agents_A3
(20, 10)
Agents_A4
(29, 10)
Agents_A5
(38, 10)
Agents_A6
(47, 10)
Agents_A7
(55, 10)
Agents_A8
(65, 10)
Agents_A9
(74, 10)
Agents_B10
(83, 10)
Agents_B3
(92, 10)
Agents_B4
(101, 10)
Agents_B5
(110, 10)
Agents_B6
(120, 10)
Agents_B7
(128, 10)
Agents_B8
(138, 10)
Agents_B9
(148, 10)
Agents_C1
(158, 10)
Agents_C2
(168, 10)
Agents_C3
(177, 10)
Agents_C4
(186, 10)
Agents_C5
(196, 10)
Agents_C6
(205, 10)
Agents_C7
(214, 10)
Agents_C8
(224, 10)

In [153]:
master_df.to_excel('agents_TemporalAnalysis_master_df_n_trades_scoregain.xlsx')

In [154]:
master_df

,game_name,game_type,player1,player2,BT_trades,BT_scoregain,MT_trades,MT_scoregain,ET_trades,ET_scoregain
0,A10,Competitive,Alan,Kalyani,2,24,1,13,1,6
1,A10,Competitive,Alan,Lamar,0,0,1,6,0,0
2,A10,Competitive,Alan,Sarah,0,0,1,2,0,0
3,A10,Competitive,Alan,Sokka,0,0,0,0,1,6
4,A10,Competitive,Kalyani,Lamar,2,10,2,18,1,7
...,...,...,...,...,...,...,...,...,...,...
219,C8,Cooperative,Kalyani,Sarah,1,12,0,0,0,0
220,C8,Cooperative,Kalyani,Sokka,1,4,0,0,1,40
221,C8,Cooperative,Lamar,Sarah,1,11,0,0,1,6
222,C8,Cooperative,Lamar,Sokka,1,4,2,17,0,0
223,C8,Cooperative,Sarah,Sokka,1,20,1,14,0,0

In [90]:
trades_df

,requester,requestedInventory,reason,request,beginTimestamp,endScores,beginScores,offer,requested,requesterInventory,requestID,endTimestamp,hasMenu,status,trade_value,game_name,game_type,time_window
2,Lamar,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Leather'}]",2024-09-08 14:09:30.056,"{'requester': 47, 'requested': 10}","{'requester': 47, 'requested': 47}","[{'amount': 1, 'resource': 'Cow Spawn Egg'}]",Sokka,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarSokka2024-09-08 14:09:30.056,2024-09-08 14:09:36.973,False,ACCEPTED,4,C8,Cooperative,BT
7,Kalyani,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Oak Log'}]",2024-09-08 14:12:08.674,"{'requester': 31, 'requested': 10}","{'requester': 31, 'requested': 31}","[{'amount': 1, 'resource': 'Red Glazed Terraco...",Sokka,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",KalyaniSokka2024-09-08 14:12:08.674,2024-09-08 14:12:53.460,False,ACCEPTED,4,C8,Cooperative,BT
9,Alan,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Turtle Egg'}]",2024-09-08 14:14:18.650,"{'requester': 17, 'requested': 13}","{'requester': 17, 'requested': 17}","[{'amount': 4, 'resource': 'Blue Glazed Terrac...",Sokka,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",AlanSokka2024-09-08 14:14:18.65,2024-09-08 14:14:47.127,False,ACCEPTED,15,C8,Cooperative,BT
10,Sarah,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",,"[{'amount': 1, 'resource': 'Rabbit Stew'}]",2024-09-08 14:14:44.222,"{'requester': 36, 'requested': 45}","{'requester': 36, 'requested': 36}","[{'amount': 1, 'resource': 'Leather'}]",Lamar,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",SarahLamar2024-09-08 14:14:44.222,2024-09-08 14:15:07.911,False,ACCEPTED,11,C8,Cooperative,BT
11,Sarah,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 3, 'resource': 'Cooked Beef'}]",2024-09-08 14:15:15.538,"{'requester': 46, 'requested': 32}","{'requester': 46, 'requested': 46}","[{'amount': 3, 'resource': 'Lead'}]",Kalyani,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",SarahKalyani2024-09-08 14:15:15.538,2024-09-08 14:16:00.052,False,ACCEPTED,12,C8,Cooperative,BT
12,Sarah,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Rabbit Stew'}]",2024-09-08 14:16:25.905,"{'requester': 55, 'requested': 25}","{'requester': 55, 'requested': 55}","[{'amount': 1, 'resource': 'Stone Pickaxe'}]",Sokka,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",SarahSokka2024-09-08 14:16:25.905,2024-09-08 14:17:06.480,False,ACCEPTED,20,C8,Cooperative,BT
13,Lamar,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 1, 'resource': 'Rabbit Hide'}]",2024-09-08 14:16:35.945,"{'requester': 46, 'requested': 32}","{'requester': 46, 'requested': 46}","[{'amount': 3, 'resource': 'Spruce Planks'}]",Kalyani,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarKalyani2024-09-08 14:16:35.945,2024-09-08 14:17:02.132,False,ACCEPTED,12,C8,Cooperative,BT
14,Lamar,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",,"[{'amount': 1, 'resource': 'Rabbit Hide'}]",2024-09-08 14:16:35.949,"{'requester': 49, 'requested': 20}","{'requester': 46, 'requested': 46}","[{'amount': 1, 'resource': 'Cooked Porkchop'}]",Alan,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarAlan2024-09-08 14:16:35.949,2024-09-08 14:17:23.982,False,ACCEPTED,6,C8,Cooperative,BT
15,Alan,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 1, 'resource': 'Oak Boat'}]",2024-09-08 14:18:09.544,"{'requester': 20, 'requested': 41}","{'requester': 20, 'requested': 20}","[{'amount': 2, 'resource': 'Birch Log'}]",Kalyani,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",AlanKalyani2024-09-08 14:18:09.544,2024-09-08 14:18:47.626,False,ACCEPTED,12,C8,Cooperative,BT
16,Alan,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Cod'}]",2024-09-08 14:18:40.166,"{'requester': 30, 'requested': 35}","{'requester': 20, 'requested': 20}","[{'amount': 1, 'resource': 'Glass'}]",Sokka,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",AlanSokka2024-09-08 14:18:40.166,2024-09-08 14:18:48.700,False,ACCEPTED,2,C8,Cooperative,BT
22,Lamar,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Stick'}]",2024-09-08 14:20:39.875,"{'requester': 52, 'requested': 36}","{'requester': 52, 'requested': 52}","[{'amount': 12, 'resource': 'Stone'}]",Sokka,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarSokka2024-09-08 14:20:39.875,2024-09-08 14:21:19.972,False,ACCEPTED,13,C8,Cooperative,MT
23,Alan,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 4, 'resource': 'Pufferfish'}]",2024-09-08 14:20:57.282,"{'requester': 31, 'requested': 65}","{'requester': 31, 'requested': 31}","[{'amount': 4, 'resource': 'Cooked Porkchop'}]",Sarah,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",AlanSarah2024-09-08 14:20:57.282,2024-09-08 14:21:09.886,False,ACCEPTED,24,C8,Cooperative,MT
26,Sarah,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Rabbit Stew'}]",2024-09-08 14:24:55.359,"{'requester': 77, 'requested': 48}","{'requester': 77, 'requested': 77}","[{'amount': 4, 'resource': 'Quartz Block'}]",Sokka,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",SarahSokka2024-09-08 14:24:55.359,2024-09-08 14:25:36.083,False,ACCEPTED,14,C8,Cooperative,MT
27,Lamar,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",,"[{'amount': 1, 'resource': 'Saddle'}]",2024-09-08 14:25:04.317,"{'requester': 53, 'requested': 43}","{'requester': 53, 'requested': 53}","[{'amount': 1, 'resource': 'Cow Spawn Egg'}]",Alan,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarAlan2024-09-08 14:25:04.317,2024-09-08 14:25:23.316,False,ACCEPTED,13,C8,Cooperative,MT
28,Lamar,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 1, 'resource': 'Quartz Block'}]",2024-09-08 14:25:04.323,"{'requester': 60, 'requested': 43}","{'requester': 53, 'requested': 53}","[{'amount': 4, 'resource': 'Birch Log'}]",Kalyani,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarKalyani2024-09-08 14:25:04.323,2024-09-08 14:25:30.939,False,ACCEPTED,5,C8,Cooperative,MT
29,Lamar,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",,"[{'amount': 1, 'resource': 'Quartz Block'}]",2024-09-08 14:26:28.724,"{'requester': 60, 'requested': 52}","{'requester': 60, 'requested': 60}","[{'amount': 3, 'resource': 'Glass'}]",Sokka,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarSokka2024-09-08 14:26:28.724,2024-09-08 14:26:57.362,False,ACCEPTED,4,C8,Cooperative,MT
34,Sokka,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 10, 'resource': 'Quartz Block'}]",2024-09-08 14:31:17.395,"{'requester': 54, 'requested': 47}","{'requester': 54, 'requested': 54}","[{'amount': 10, 'resource': 'Oak Planks'}]",Kalyani,"[{'amount': 8, 'resource': 'Chicken'}, {'amoun...",SokkaKalyani2024-09-08 14:31:17.395,2024-09-08 14:31:27.524,False,ACCEPTED,40,C8,Cooperative,ET
36,Lamar,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 1, 'resource': 'Pufferfish'}]",2024-09-08 14:33:51.169,"{'requester': 60, 'requested': 87}","{'requester': 60, 'requested': 60}","[{'amount': 1, 'resource': 'Cooked Beef'}]",Sarah,"[{'amount': 11, 'resource': 'Chicken'}, {'amou...",LamarSarah2024-09-08 14:33:51.169,2024-09-08 14:33:54.802,False,ACCEPTED,6,C8,Cooperative,ET
37,Alan,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",,"[{'amount': 1, 'resource': 'Tropical Fish'}]",2024-09-08 14:34:20.763,"{'requester': 43, 'requested': 77}","{'requester': 43, 'requested': 43}","[{'amount': 1, 'resource': 'Rabbit Hide'}]",Kalyani,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",AlanKalyani2024-09-08 14:34:20.763,2024-09-08 14:34:46.595,False,ACCEPTED,4,C8,Cooperative,ET
40,Sarah,"[{'amount': 18, 'resource': 'Beef'}, {'amount'...",,"[{'amount': 1, 'resource': 'Rabbit Hide'}]",2024-09-08 14:36:58.785,"{'requester': 90, 'requested': 44}","{'requester': 90, 'requested': 90}","[{'amount': 1, 'resource': 'Turtle Egg'}]",Alan,"[{'amount': 1, 'resource': 'Beef'}, {'amount':...",SarahAlan2024-09-08 14:36:58.785,2024-09-08 14:37:04.883,False,ACCEPTED,6,C8,Cooperative,ET

In [93]:
groupby_df = trades_df.groupby(
    by=['game_name', 'game_type', 'requester', 'requested', 'time_window']).agg(
    {'status':'count', 'trade_value': 'sum'})
groupby_df.reset_index()

   game_name    game_type requester requested time_window  status  trade_value
0         C8  Cooperative      Alan   Kalyani          BT       1           12
1         C8  Cooperative      Alan   Kalyani          ET       1            4
2         C8  Cooperative      Alan     Sarah          MT       1           24
3         C8  Cooperative      Alan     Sokka          BT       2           17
4         C8  Cooperative   Kalyani     Sokka          BT       1            4
5         C8  Cooperative     Lamar      Alan          BT       1            6
6         C8  Cooperative     Lamar      Alan          MT       1           13
7         C8  Cooperative     Lamar   Kalyani          BT       1           12
8         C8  Cooperative     Lamar   Kalyani          MT       1            5
9         C8  Cooperative     Lamar     Sarah          ET       1            6
10        C8  Cooperative     Lamar     Sokka          BT       1            4
11        C8  Cooperative     Lamar     Sokka          MT       2           17
12        C8  Cooperative     Sarah      Alan          ET       1            6
13        C8  Cooperative     Sarah   Kalyani          BT       1           12
14        C8  Cooperative     Sarah     Lamar          BT       1           11
15        C8  Cooperative     Sarah     Sokka          BT       1           20
16        C8  Cooperative     Sarah     Sokka          MT       1           14
17        C8  Cooperative     Sokka   Kalyani          ET       1           40

In [ ]:
three_way_trades_dict = {}

for filename in game_trades_df_dict:
    print(filename)
    three_way_trades_dict[filename] = []
    # three_way_trades_dict[filename] = {}
    trades_df = game_trades_df_dict[filename]
    trades_df = get_request_non_useful_items(trades_df, player_names_list, player_profession_dict, profession_items_dict, filename)
    
    for player in player_names_list: